<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main content"},"layout":{"type":"default"},"anchor":"main-content"} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:pattern {"slug":"starterpress/hero"} /-->
	<!-- wp:pattern {"slug":"starterpress/features"} /-->
	<!-- wp:pattern {"slug":"starterpress/latest-posts"} /-->
	<!-- wp:pattern {"slug":"starterpress/call-to-action"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
